.contactWrapper {
  display: flex;
  justify-content: center;

  .contactFormDiv {
    //width: 55%;
    margin-top: 40px;
    h2 {
      color: #000000;
      font-size: 40px;
      font-weight: 400;
      line-height: 48.76px;
      text-align: left;

    }
  }
}

.name {
  //width: 40% !important;
}

.form {
  margin-top: 40px;
  //margin-left: 60px;
  gap: 10px;
  margin-right: 40px;

  .phone {
    margin: 25px 0px;
  }

  .textarea {
    border-radius: 30px !important;
    padding: 20px !important;
  }

  .phone,
  textarea,
  .send {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #4D4D4D;
    background: none;
    border-radius: 20px;
    font-size: 15px;
    resize: none;
  }

  .send {
    width: 100px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #555;
    }
  }
}

.wrapperBtn {
  width: 100%;
  font-size: 15px;
  margin-top: 7px;
}

@media (max-width: 800px) {
  .form {
    margin-right: 0px !important;
  }
  .contactFormDiv {
    width: 94% !important;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}



.row {
  display: flex;
  gap: 41px;
  justify-content: space-between;
  width: 100%;

  .name {
    outline: none;
    width: 350px;
    padding: 10px;
    border: 1px solid #4D4D4D;
    background: none;
    border-radius: 20px;
    font-size: 16px;
    resize: none;
  }
}

.errorMessage {
  margin-top: 10px;
  color: #922a19
}