.Header {
  margin-top: 10px;
  width: 1400px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
  @media (max-width: 1400px) {
    width: 95vw;
  }

  .burger {
    display: none;
    cursor: pointer;
    user-select: none;
    @media (max-width: 790px) {
      display: flex;
    }
  }

  .links {
    display: flex;
    @media (max-width: 790px) {
      display: none;
    }

    .link {
      text-decoration: none;
      color: #4C4C4C;
      font-size: 15px;
      line-height: 18px;

      font-weight: 400;
      margin-left: 15px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    @media (max-width: 790px) {
      display: none;
    }

    img {
      width: 30px;
      height: auto;
      cursor: pointer;
      margin-left: 15px;
    }

    .select {
      margin-bottom: 15px;
    }

    .title {
      color: #4D4D4D;
      font-size: 13px;
      margin-bottom: 2px;
    }

    .selectCountry {
      user-select: none;
      cursor: pointer;
      width: 170px;
      height: 29px;
      transition: .3s;
      border: 1px solid #4D4D4D;
      border-radius: 80px;
      display: flex;
      //justify-content: center;
      align-items: center;

      p {
        margin-left: 10px;
        font-size: 15px;
      }

      svg {
        margin-left: 10px;
      }
    }

    .selectCont {
      margin-left: 5px;
      width: 140px;
      height: 0;
      transition: .3s;
      background-color: #D4D4D4;
      box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      border-radius: 5px 5px 10px 10px;
      overflow: hidden;

      .item {
        display: flex;
        height: 35px;
        user-select: none;
        cursor: pointer;
        align-items: center;

        p {
          margin-left: 10px;
        }

        &:hover {
          background-color: #cccccc;
        }
      }
    }
  }

}
.cart {
  //margin-left: 10px;
  cursor: pointer;
}
.headerWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.logoContainer {
  img {
    cursor: pointer;
  }
}

.selectBoxOpened {
  //border-radius: 80px 80px 20px 20px !important;
}

.selectOpened {
  height: 150px !important;
}

.langChange {
  //padding: 7px;
  position: absolute;
  width: 40px;
  transition: .3s;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6px;
  box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.15);
  background-color: #D4D4D4;

  p {
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #cccccc;
    }
  }
}

.langOpened {
  max-height: 100px !important;

}

.logoContainer {
  @media (max-width: 920px) {
    img {
      width: 120px;
      height: auto;
    }
  }
}
.cartDiv {
  margin-left: 25px;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  p {
    text-align: center;
    //margin-left: 9px;
    font-size: 12px;
    font-weight: 600;
    color: #D4D4D4;
  }
  .circle {
    width: 20px;
    height: 20px;
    display: flex;
    top: 1px;
    margin-top: -5px;
    left: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
    position: absolute;
  }
  .cart {
    z-index: 1;
    position: absolute;
  }
}