* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #D4D4D4;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 7.5px;
  background-color: #c0c0c0;
}

body::-webkit-scrollbar-thumb {
  background-color: #adadad;
}